@import "mixins/mixins";
@import "common/var";
@import "button";
@import "button-group";

@include b(calendar) {
  background-color: $--color-background;

  @include e(header) {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    // border-bottom: $--calendar-border;
  }

  @include e(title) {
    color: $--color-front;
    align-self: center;
  }

  @include e(body) {
    padding: 12px 20px 35px;
  }
}

@include b(calendar-table) {
  table-layout: fixed;
  width: 100%;
  border: $--calendar-border;
  padding: 5px;

  thead th {
    padding: 12px 0;
    color: $--color-text-primary;
    font-weight: normal;
    // border-bottom: $--calendar-border;
  }

  &:not(.is-range) {
    td.prev,
    td.next {
      color: $--color-text-placeholder;
    }
  }

  td {
    // padding-bottom: $--calendar-cell-gutter;
    // padding-right: $--calendar-cell-gutter;
    border: 5px solid transparent;
    vertical-align: top;
    transition: background-color 0.2s ease;
    color: $--calendar-td-color;

    @include when(selected) {
      @include b(calendar-day) {
        background-color: $--calendar-selected-background-color;
        border: 2px solid $--color-primary;
      }
    }

    @include when(today) {
      color: $--color-primary;
    }
  }

  // tr:first-child td {
  //   padding-top: $--calendar-cell-gutter;
  // }

  // tr td:first-child {
  //   padding-left: $--calendar-cell-gutter;
  // }
  
  // tr td:last-child {
  //   padding-right: $--calendar-cell-gutter;
  // }

  // tr.el-calendar-table__row--hide-border td {
  //   border-top: none;
  // }

  @include b(calendar-day) {
    box-sizing: border-box;
    // margin: 8px;
    padding: 8px;
    height: $--calendar-cell-height;
    background-color: $--calendar-td-background-color;
    &:hover {
      cursor: pointer;
      // background-color: $--calendar-selected-background-color;
      border: 2px solid $--border-color-base;
    }
  }
}
